{% extends "base_rutas.html" %}
{% load staticfiles %}
{% block title %} lojanisima {% endblock title %}

{% block content %}

<div style="margin-top: 100px;">
    <div style="display: flex;
    justify-content: center;
    align-items: center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
                RUTA: Lojanisima
        </h2>
    </div>
    <div style="display: flex;
    justify-content: center;
    align-items: center">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1FKJ8zK5JXOexy4x5M1x3_EWiNQtryFj3" width="1280" height="480"></iframe>
    </div>
</div>

<section class="features18 popup-btn-cards cid-rvWXlreHL7" id="features18-q">

    

    
        <div class="container">
            <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
                Historia, Cultura, Arte y Gatronomía... 
            </h2>
            <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light">
                Escoge, Recorre y Disfruta
            </h3>
            <div class="media-container-row pt-5 ">
                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-wrapper ">
                        <div class="card-img">
                            <div class="mbr-overlay"></div>
                            <div class="mbr-section-btn text-center">
                                <a href="https://earth.app.goo.gl/ev8tT1" class="btn btn-primary display-4">Ver</a>
                            </div>
                            <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Identiarte/8941620254_04340f446c_b.jpg" alt="Mobirise">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style display-7">
                                Puerta de la ciudad
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <div class="mbr-overlay"></div>
                            <div class="mbr-section-btn text-center">
                                <a href="{% url 'lojanisima' %}" class="btn btn-primary display-4">Ver</a>
                            </div>
                            <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Lojanisima/descarga.jpeg" alt="Mobirise">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style display-7">
                                Mural Simon Bolivar
                            </h4>
                        </div>
                    </div>
                </div>
    
                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <div class="mbr-overlay"></div>
                            <div class="mbr-section-btn text-center">
                                <a href="https://mobirise.co" class="btn btn-primary display-4">Ver</a>
                            </div>
                            <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/raices/30081768248_f455ddf57b_b.jpg" alt="Mobirise">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style display-7">
                                Iglesia "San Francisco"
                            </h4>
                        </div>
                    </div>
                </div>
    
                
            </div>
        </div>
        <div class="container">
                <div class="media-container-row pt-5 ">
                    <div class="card p-3 col-12 col-md-6 col-lg-4">
                        <div class="card-wrapper ">
                            <div class="card-img">
                                <div class="mbr-overlay"></div>
                                <div class="mbr-section-btn text-center">
                                    <a href="https://mobirise.co" class="btn btn-primary display-4">Ver</a>
                                </div>
                                <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Identiarte/8941620254_04340f446c_b.jpg" alt="Mobirise">
                            </div>
                            <div class="card-box">
                                <h4 class="card-title mbr-fonts-style display-7">
                                    Centro de Acción Social de "Matilde Hidalgo"
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card p-3 col-12 col-md-6 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card-img">
                                <div class="mbr-overlay"></div>
                                <div class="mbr-section-btn text-center">
                                    <a href="{% url 'lojanisima' %}" class="btn btn-primary display-4">Ver</a>
                                </div>
                                <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Lojanisima/descarga.jpeg" alt="Mobirise">
                            </div>
                            <div class="card-box">
                                <h4 class="card-title mbr-fonts-style display-7">
                                    Plaza Central
                                </h4>
                            </div>
                        </div>
                    </div>
        
                    <div class="card p-3 col-12 col-md-6 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card-img">
                                <div class="mbr-overlay"></div>
                                <div class="mbr-section-btn text-center">
                                    <a href="https://mobirise.co" class="btn btn-primary display-4">Ver</a>
                                </div>
                                <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/raices/30081768248_f455ddf57b_b.jpg" alt="Mobirise">
                            </div>
                            <div class="card-box">
                                <h4 class="card-title mbr-fonts-style display-7">
                                    Iglesia Catedral
                                </h4>
                            </div>
                        </div>
                    </div>
        
                    
                </div>
            </div>
            <div class="container">
                    <div class="media-container-row pt-5 ">
                        <div class="card p-3 col-12 col-md-6 col-lg-4">
                            <div class="card-wrapper ">
                                <div class="card-img">
                                    <div class="mbr-overlay"></div>
                                    <div class="mbr-section-btn text-center">
                                        <a href="https://mobirise.co" class="btn btn-primary display-4">Ver</a>
                                    </div>
                                    <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Identiarte/8941620254_04340f446c_b.jpg" alt="Mobirise">
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Peatonal 10 de Agosto
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="card p-3 col-12 col-md-6 col-lg-4">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <div class="mbr-overlay"></div>
                                    <div class="mbr-section-btn text-center">
                                        <a href="{% url 'lojanisima' %}" class="btn btn-primary display-4">Ver</a>
                                    </div>
                                    <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Lojanisima/descarga.jpeg" alt="Mobirise">
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Museo de la Música
                                    </h4>
                                </div>
                            </div>
                        </div>
            
                        <div class="card p-3 col-12 col-md-6 col-lg-4">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <div class="mbr-overlay"></div>
                                    <div class="mbr-section-btn text-center">
                                        <a href="https://mobirise.co" class="btn btn-primary display-4">Ver</a>
                                    </div>
                                    <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/raices/30081768248_f455ddf57b_b.jpg" alt="Mobirise">
                                </div>
                                <div class="card-box">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Teatro Simón Bolívar
                                    </h4>
                                </div>
                            </div>
                        </div>
            
                        
                    </div>
                    <div class="container">
                            <div class="media-container-row pt-5 ">
                                <div class="card p-3 col-12 col-md-6 col-lg-4">
                                    <div class="card-wrapper ">
                                        <div class="card-img">
                                            <div class="mbr-overlay"></div>
                                            <div class="mbr-section-btn text-center">
                                                <a href="https://mobirise.co" class="btn btn-primary display-4">Ver</a>
                                            </div>
                                            <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Identiarte/8941620254_04340f446c_b.jpg" alt="Mobirise">
                                        </div>
                                        <div class="card-box">
                                            <h4 class="card-title mbr-fonts-style display-7">
                                                Museo de la Cultura Lojana
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="card p-3 col-12 col-md-6 col-lg-4">
                                    <div class="card-wrapper">
                                        <div class="card-img">
                                            <div class="mbr-overlay"></div>
                                            <div class="mbr-section-btn text-center">
                                                <a href="{% url 'lojanisima' %}" class="btn btn-primary display-4">Ver</a>
                                            </div>
                                            <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Lojanisima/descarga.jpeg" alt="Mobirise">
                                        </div>
                                        <div class="card-box">
                                            <h4 class="card-title mbr-fonts-style display-7">
                                                Plaza de las Flores
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="card p-3 col-12 col-md-6 col-lg-4">
                                    <div class="card-wrapper">
                                        <div class="card-img">
                                            <div class="mbr-overlay"></div>
                                            <div class="mbr-section-btn text-center">
                                                <a href="https://mobirise.co" class="btn btn-primary display-4">Ver</a>
                                            </div>
                                            <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/raices/30081768248_f455ddf57b_b.jpg" alt="Mobirise">
                                        </div>
                                        <div class="card-box">
                                            <h4 class="card-title mbr-fonts-style display-7">
                                                Heladería "Ensalada de Frutas" de San Sebastian
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                    
                                
                            </div>
                </div>
                <div class="container">
                        <div class="media-container-row pt-5 ">
                            <div class="card p-3 col-12 col-md-6 col-lg-4">
                                <div class="card-wrapper ">
                                    <div class="card-img">
                                        <div class="mbr-overlay"></div>
                                        <div class="mbr-section-btn text-center">
                                            <a href="https://mobirise.co" class="btn btn-primary display-4">Ver</a>
                                        </div>
                                        <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Identiarte/8941620254_04340f446c_b.jpg" alt="Mobirise">
                                    </div>
                                    <div class="card-box">
                                        <h4 class="card-title mbr-fonts-style display-7">
                                            Plaza de San Sebastian
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-3 col-12 col-md-6 col-lg-4">
                                <div class="card-wrapper">
                                    <div class="card-img">
                                        <div class="mbr-overlay"></div>
                                        <div class="mbr-section-btn text-center">
                                            <a href="{% url 'lojanisima' %}" class="btn btn-primary display-4">Ver</a>
                                        </div>
                                        <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Lojanisima/descarga.jpeg" alt="Mobirise">
                                    </div>
                                    <div class="card-box">
                                        <h4 class="card-title mbr-fonts-style display-7">
                                            Peatonal Lourdes
                                        </h4>
                                    </div>
                                </div>
                            </div>
                
                            <div class="card p-3 col-12 col-md-6 col-lg-4">
                                <div class="card-wrapper">
                                    <div class="card-img">
                                        <div class="mbr-overlay"></div>
                                        <div class="mbr-section-btn text-center">
                                            <a href="https://mobirise.co" class="btn btn-primary display-4">Ver</a>
                                        </div>
                                        <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/raices/30081768248_f455ddf57b_b.jpg" alt="Mobirise">
                                    </div>
                                    <div class="card-box">
                                        <h4 class="card-title mbr-fonts-style display-7">
                                            Heladería "Ensalada de Frutas" de San Sebastian
                                        </h4>
                                    </div>
                                </div>
                            </div>
                
                            
                        </div>
            </div>
    </section>

{% endblock content %}