{% extends "base_rutas.html" %}
{% load staticfiles %}
{% block title %} Identiarte {% endblock title %}

{% block content %}

<div style="margin-top: 100px;">
        <div style="display: flex;
        justify-content: center;
        align-items: center">
            <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
                    RUTA: Identiarte
            </h2>
        </div>
        <div style="display: flex;
        justify-content: center;
        align-items: center">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1gJxDp4FjhraZoBu_BmchVKc15oLEe85h" width="1280" height="480"></iframe>
        </div>
    </div>



{% endblock content %}