{% load staticfiles %}

    <section class="header6 cid-rvWWbg1e89 mbr-fullscreen"
        img src="http://www.regalasex.com/img/tallaje%20joessyder.jpg"
        data-bg-video="https://www.youtube.com/watch?v=tbAw4cMMDO0" id="header6-p"> 
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
               
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                        
                    </h1>
                    <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                        
                    </p>

                </div>
            </div>
        </div>


    </section>