{% load staticfiles %}
<section class="engine"><a href="https://mobirise.info/f">easy web builder</a></section>
    <section class="header6 cid-rvWWbg1e89 mbr-fullscreen"
        data-bg-video="https://www.youtube.com/watch?v=X5vIW4aHj70&amp;t=8s" id="header6-p">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                        INTRO WITH BACKGROUND VIDEO
                    </h1>
                    <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                        Intro with background video and color overlay. Mobirise helps you cut down development time by
                        providing you with a flexible website editor with a drag and drop interface.
                    </p>

                </div>
            </div>
        </div>


    </section>