<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load staticfiles %}
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/logo+loja+tur.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}" >
<!--============================================={% static 'login/==================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--============================================={% static 'login/==================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--============================================={% static 'login/==================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--============================================={% static 'login/==================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--============================================={% static 'login/==================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--============================================={% static 'login/==================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--============================================={% static 'login/==================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--============================================={% static 'login/==================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
    <div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
                <div class="container" style="display: flex; justify-content: center;">
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>ERROR!</strong> 
                                <strong>El usuario o contraseña incorrectos</strong>
                              </div>
                              {% endfor %}
                </div>
                <div style="display: flex; justify-content: center;">
                        <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/logo+loja+tur.png" alt=""
                        style="width: 50%;">
                </div>
                        
                
                        <form class="login100-form validate-form p-b-33 p-t-5" method="POST">
                                {% csrf_token %}
                            <div class="wrap-input100 form-group" data-validate = "Enter username">
                                <input class="input100" type="text" name="username" placeholder="User name">
                                <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                            </div>
        
                            <div class="wrap-input100 form-group" data-validate="Enter password">
                                <input class="input100" type="password" name="password" placeholder="Password">
                                <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                            </div>
        
                            <div class="container-login100-form-btn m-t-32">
                                <button class="login100-form-btn" href="#" type="submit">
                                    Login
                                </button>
                            </div>
                        </form>
                        <div class="row">
                                <div class="col-6" style="display: flex; justify-content: center;">
                                        <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Turismo+2.png" alt=""
                                        style="width: 100%;">
                                </div>
                                <div class="col-6" style="display: flex; justify-content: center;">
                                        <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Desarrollo+de+Software+2.png" alt=""
                                        style="width: 100%;">
                                </div>
                                </div>
			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--============={% static 'login/==================================================================================-->
	<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--============={% static 'login/==================================================================================-->
	<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--============={% static 'login/==================================================================================-->
	<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--============={% static 'login/==================================================================================-->
	<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--============={% static 'login/==================================================================================-->
	<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--============={% static 'login/==================================================================================-->
	<script src="{% static 'login/js/main.js' %}"></script>

</body>
</html>