{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Menú {% endblock title %}

{% block content %}
<section class="features18 popup-btn-cards cid-rvWXlreHL7" id="features18-q">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Historia, Cultura, Arte y Gatronomía... 
        </h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light">
            Escoge, Recorre y Disfruta
        </h3>
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{% url 'identiarte' %}" class="btn btn-primary display-4">Ver</a>
                        </div>
                        <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Identiarte/8941620254_04340f446c_b.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Identiarte
                        </h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">
                            Al seguir está ruta conocerás la identidad y arte lojano, con todos nuestros monumentos, plazas e iglesias que te 
                            presentamos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{% url 'lojanisima' %}" class="btn btn-primary display-4">Ver</a>
                        </div>
                        <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/Lojanisima/descarga.jpeg" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Lojanisima
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Al adentrarte a está ruta, conocerás las principales plazas de la ciudad y degustaras la gatronomía lojana.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{% url 'raices' %}" class="btn btn-primary display-4">Ver</a>
                        </div>
                        <img src="https://elysiumists.s3.us-east-2.amazonaws.com/Lojatour/raices/30081768248_f455ddf57b_b.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Retomando raíces
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Si de decides seguir está ruta, conocerás las raices y origenes de la cultura lojana.
                        </p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

{% endblock content %}